.header {
	position: absolute;
	color: rgba($white, 0.6);
	top: 0;
	left: 0;
	z-index: 5;
	margin-top: 50px;
	width: 100%;
	&-links {
		border-radius: 10px;
		border: 1px solid rgba($gray-400, 0.2);
		min-height: 88px;
		padding: 0 98px;
		@include flex(row, center, space-between);
		&__item {
			font-family: $font-brands;
			letter-spacing: 0.095em;
		}
	}
}

@media screen and (max-width: 1300px) {
	.header {
		&-links {
			padding: 0 36px;
			&__item {
				font-family: $font-brands;
				letter-spacing: 0;
			}
		}
	}
}
