.cage {
	width: 292px;
	height: 292px;
	background: $white;
	opacity: 0.19;
	&_transparent {
		background: transparent;
	}
}

@media screen and (max-width: 991px) {
	.cage {
		width: 132px;
		height: 132px;
		opacity: 0.2;
	}
}
