.pgn {
	&-info {
		padding-top: 80px;
		display: grid;
		grid-template-columns: 4.41fr 8fr;
		grid-template-rows: auto 1fr;
		grid-row-gap: 160px;
		grid-column-gap: 30px;
	}
	&-wrapper {
		grid-row: span 2;
	}
}

@media screen and (max-width: 1320px) {
	.pgn {
		&-info {
			grid-template-columns: auto 400px;
		}
	}
}

@media screen and (max-width: 991px) {
	.pgn {
		&-info {
			grid-template-columns: 100%;
			grid-gap: 40px;
		}
		&-wrapper {
			margin-bottom: 80px;
		}
	}
}
