.tournament-info {
	padding-top: 80px;
	display: grid;
	grid-template-columns: 4.9fr 7.5fr;
	grid-template-rows: auto 1fr;
	grid-row-gap: 160px;
	grid-column-gap: 30px;
}

@media screen and (max-width: 991px) {
	.tournament-info {
		grid-template-columns: 100%;
		grid-gap: 40px;
	}
}
