.home {
	background: $dark-bg;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	&-bg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-25deg);
		pointer-events: none;
		max-width: 120vw;
		height: 200vh;
		opacity: 0.3;
		mix-blend-mode: overlay;
		display: grid;
		grid-template-columns: repeat(11, 1fr);
		grid-gap: 0;
		&__cages {
		}
	}
}
