.tournaments {
	&-wrapper {
		padding: 249px 0 104px;
	}
	&-tabs {
		margin-bottom: 50px;
		position: relative;
		@include flex(row, stretch, flex-start, wrap);
		border-bottom: 1px solid rgba($gray-400, 0.2);
		& .swiper-navigation {
			@include flex(row, center, center);
			grid-gap: 15px;
			position: absolute;
			top: calc(100% + 35px);
			left: 50%;
			transform: tranlsateX(-50%);
			display: none;
		}
		& .swiper {
			display: flex;
			border-bottom: 1px solid rgba($gray-400, 0.2);
		}
	}
	&-block {
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 100px;
	}
	&-status {
		&__title {
			padding: 28px 35px 28px;
			background: $red;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			@include font(2rem, calc(23 / 20));
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	&-list {
		border: 1px solid rgba($gray-400, 0.2);
		border-top: none;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		overflow: hidden;
		&__item {
			border-top: 1px solid rgba($gray-400, 0.2);
			&:first-child {
				border: none;
			}
			&:nth-child(2n) {
				background: $dark-600;
			}
		}
		&__btn {
			color: $white;
			width: 100%;
			text-align: left;
			padding: 28px 34px 28px;
			display: block;
			@include font(2rem, calc(23 / 20));
		}
	}
}

@media screen and (max-width: 1320px) {
	.tournaments {
		&-wrapper {
			padding: 205px 0 65px;
		}
	}
}

@media screen and (max-width: 991px) {
	.tournaments {
		&-status {
			&__title {
				@include font(1.8rem, calc(21 / 18));
				padding: 29px 15px;
			}
		}
		&-list {
			&__btn {
				@include font(1.6rem, calc(19 / 16));
				padding: 30px 14px;
			}
		}
	}
}
